  .addcat.modal-box3 {
    border-radius: 1.4vw;
    width: 300px !important; /* Fixed width for modal */
    text-align: center;
  }


  .addcat.text-m1 {
    font-size: 20px; /* Font size for header */
  }

  .categoryInput {
    width: 100%; /* Full width */
    padding: 10px;
    margin: 10px 0; /* Spacing around input */
    border: 1px solid #ccc; /* Light border for input */
    border-radius: 5px; /* Rounded corners */
    font-size: 16px; /* Font size for input */
  }

  .addcat.button-container {
    display: flex;
    justify-content: space-between; /* Spacing between buttons */
    margin-top: 10px; /* Space above buttons */
  }

  .addcat.primary-btn-blue1 {
    flex: 1; /* Flex to take equal space */
    margin-right: 10px; /* Space between buttons */
  }
  .addcat.sub-button {
    flex: 1; /* Flex to take equal space */
    margin-right: 10px; /* Space between buttons */
  }
  

