.modal-box4 {
  display: flex; /* Make the modal box a flex container */
  flex-direction: column; /* Arrange elements vertically */
  align-items: center; /* Center elements horizontally */
  padding: 20px; /* Add some padding */
  border-radius: 5px; /* Add rounded corners */
  background-color: white; /* Set background color (optional) */
}

.modal-box4 h2 {
  text-align: center;
  margin-bottom: 15px;
  border-bottom: 1px solid black;
  width: 100%;
}

.modal-box4 .pet-info-row {
  display: flex;
  justify-content: space-between; /* Adjust spacing between elements */
  width: 100%; /* Make the row fill the width */
  margin-bottom: 10px; /* Add margin between rows */
}

.modal-box4 .pet-info-row input {
  flex: 1; 
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.modal-box4 .pet-info-row select {
  flex: 1; /* Make select element take up equal space */
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.modal-box4 .pet-info-row label {
  margin-right: 10px; /* Add margin to the right of the label */
}

.modal-box4 button {
  margin-top: 1rem; /* Add some space between buttons and form */
  display: flex; /* Center the buttons horizontally */
  justify-content: center;
}

.save-button {
  background-color: #4CAF50; /* Green color for save button */
  color: white; /* White text color */
  width: 100%;
}

.cancel-button {
  background-color: #f44336; /* Red color for cancel button */
  color: white; /* White text color */
  width: 100%;
}

.modal-box4 .button-container {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.modal-box4 .button-container button {
  margin: 0 5px;
}

.margin-bottom{
  margin-bottom: 10px;
}