.bookappointment{
}
.grid{
    display: flex;
    height: 100vh
}
.bookapt.small-form{
    height: 70%;
    width:40vw;
}
.mini-nav{
    display: flex;
    flex-direction: row;
    align-items: baseline;
}
.separator{
    height: 33px;
    width: 1px;
    margin-left: 1vw;
    background-color: #1D3675;
}
.main-button{
    width: 30%!important;
    height: 6vh!important;
}
