.bookappointment{
}
.grid{
    display: flex;
    height: 100vh
}
.bookapt.small-form{
    height: fit-content;
    width:40vw;
    overflow-y: hidden;
}
.mini-nav{
    display: flex;
    flex-direction: row;
    align-items: baseline;
}
.separator{
    height: 33px;
    width: 1px;
    background-color: #1D3675;
}
.main-button, .sub-button{
    width: fit-content;
    padding: .5vw 2vw;
}

.modal-footer{
    justify-content: space-between!important;
}
