.primary-btn-blue1, .primary-btn-red1{ /*for submission or confirm btns example: yes/submit/confirm*/
    font-family: Inter;
    font-weight: 700;
    border-radius: 20px;
    border: 2px white solid;
    background-color: var(--blue1);
    color:white;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s; /* Smooth transition */
}
.primary-btn-blue1:hover {
    background-color: #3058bb;
  }
.primary-btn-blue1.disabled {
    opacity: .5;
    user-select: none;
    cursor: not-allowed;
}

.primary-btn-red1 {
    background-color: var(--red1);
}

.sub-button{ /*for cancel btns example: no/back/cancel*/
    font-family: Inter;
    font-weight: 700;
    border-radius: 20px;
    border: 2px white solid;
    background-color: #a3a3a3;
    color:white;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s; /* Smooth transition */
}
.sub-button:hover {
    background-color: #bebebe;
  }
