.rbc-calendar{
    background-color: white;
    border-radius:var(--rounded_conts);
    border:1px solid rgb(144, 144, 144, 0.48);
    padding: 2vw;
    overflow: hidden;
}
.rbc-toolbar-label{
font-weight:700;
font-family: Anybody;
}
