.edit-inv{
    height:90%;
    width: 50vw;
    padding: 25px;
    border-radius: 10px;
    background: white;
    filter: drop-shadow(0 0 10px var(--black2));
    position: relative;

}
.form-section{
    overflow-y: scroll;
    height:inherit;
    padding-right:10px;
}
.form-header{
    height:12%;
}
