:root {
    --box-width: 300px;
    --box-height: 300px;
}

.inventory-box {
    display: flex;
    flex-direction: column; /* Align items vertically */
    gap: 20px;
    width: var(--box-width); /* Adjust width as needed */
    height: var(--box-height); /* Adjust height as needed */
    background: white; /* Background color */
    border-radius: 20px; /* Rounded corners */
    text-decoration: none; /* Remove underline from the link */
    color: #333; /* Text color */
    padding: 20px; /* Padding for inner spacing */
    transition: transform 0.3s; /* Smooth hover effect */
    filter: drop-shadow(0 0 1px var(--grey1));
    
}

.inventory-box:hover {
    transform: translateY(-3px); /* Lift effect on hover */
}

.inventory-image {
    width: 100%;  /* Set a width for the image */
    height: calc(var(--box-width) - 100px);
    border-radius: 10px;
    display: block; /* Center image in its container */
    margin: 0 auto; /* Centering the image horizontally */
}

.item-details {
    width: 100%;
}

.item-name {
    font-size: 16px; /* Font size for item name */
    margin: 0; /* Remove default margin */
}

.item-quantity {
    font-size: 14px; /* Font size for item quantity */
    margin: 0; /* Remove default margin */
    color: #666; /* Lighter color for quantity text */
}
