.inventory-box {
    display: flex;
    flex-direction: column; /* Align items vertically */
    align-items: center; /* Center items horizontally */
    justify-content: center; /* Center items vertically */
    width: 300px; /* Adjust width as needed */
    height: 500px; /* Adjust height as needed */
    background: lightblue; /* Background color */
    border-radius: 20px; /* Rounded corners */
    text-decoration: none; /* Remove underline from the link */
    color: #333; /* Text color */
    padding: 20px; /* Padding for inner spacing */
    transition: transform 0.3s; /* Smooth hover effect */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Subtle shadow effect */
    
}

.inventory-box:hover {
    transform: translateY(-3px); /* Lift effect on hover */
}

.inventory-image {
    width: 100%;  /* Set a width for the image */
    aspect-ratio: 1/1; 
    display: block; /* Center image in its container */
    margin: 0 auto; /* Centering the image horizontally */
}

.item-details {
    text-align: center; /* Center text */
}

.item-name {
    font-size: 16px; /* Font size for item name */
    margin: 0; /* Remove default margin */
}

.item-quantity {
    font-size: 14px; /* Font size for item quantity */
    margin: 0; /* Remove default margin */
    color: #666; /* Lighter color for quantity text */
}
