:root {
    --box-width: 300px;
    --box-height: 300px;
}

.inventory-box {
    display: flex;
    flex-direction: column; /* Align items vertically */
    gap: .8vw;
    width: 18vw;
    height: 22vw;
    background: white; /* Background color */
    border-radius: var(--rounded_conts); /* Rounded corners */
    text-decoration: none; /* Remove underline from the link */
    color: #333; /* Text color */
    padding: 1.5vw; /* Padding for inner spacing */
    transition: transform 0.3s; /* Smooth hover effect */
    filter: drop-shadow(0 0 1px var(--grey1));

}
.inventory-box.disabled {
    opacity: .5;
    cursor: not-allowed;
}

.inventory-box:hover {
    transform: translateY(-3px); /* Lift effect on hover */
}

.inventory-image {
    aspect-ratio: 1/1;
    border-radius: .5vw;
    display: block; /* Center image in its container */
    margin: 0 auto; /* Centering the image horizontally */
}

.item-details {
    font-size:1vw;
    font-weight:700;
    width: 100%;
}

.item-name {
    margin: 0; /* Remove default margin */
    font-size:1.2vw;
}

.item-quantity {
    margin: 0; /* Remove default margin */
    color: #666; /* Lighter color for quantity text */
}
