.myappt.small-form {
    height: fit-content;
    overflow-y: hidden;
  }

  a {
    color: var(--blue1);
    text-decoration: none;
    transition: color 0.3s ease-in-out;
  }

  .myappt.link {
    transition: border-bottom 0.3s ease-in-out;
    &:hover {
      background-color: pink;
    }
  }

  .column {
    width: -webkit-fill-available;
    text-align: center;
  }

.headers {
  display: flex; /* Make it a flexbox container */
  gap: 20px; /* Maintain spacing between elements */
  align-items: center; /* Align content vertically */
}

.column {
  flex: 1; /* Allow columns to grow/shrink proportionally */
  text-align: center;
}
.manage-users.appt-record-five{
    height:min-content;
    margin-bottom:0;
    .content-deet{
        padding-top:.5vw;
        padding-bottom:.5vw;
    }
}


.add-admin {
  display: flex;
  justify-content: flex-end; 
}

