.admin-navbar {
    display: flex;
    justify-content: flex-end;
    width: calc(100% - var(--admin-sidenav-width));
    position: sticky;
    top: 0;
    padding: 10px 50px;
    height: var(--admin-navbar-height);
    margin-left: var(--admin-sidenav-width);
    background: white;
    filter: drop-shadow(0 0 1px var(--grey1));
    align-items: center;
    z-index: 20;
}

.admin-navbar-logo {
    width: 50px;
    aspect-ratio: 1/1;
}

.admin-navbar-links {
    display: flex;
    align-items: center;
    gap: 40px;
}
.admin-navbar-link {
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 0 0 10px 0;
    text-decoration: none;
    color: black;
}
.admin-navbar-link.active {
    color: var(--blue1);
    border-bottom: 1px solid var(--blue1);
}





/* ADMIN SIDE NAV */
.admin-sidenav {
    width: var(--admin-sidenav-width);
    height: 100vh;
    top: 0;
    background: white;
    filter: drop-shadow(0 0 2px var(--grey1));
    gap: 20px;
    display: flex;
    flex-direction: column;
    padding: 10px 15px;
    position: fixed;
    z-index: 21;
}

.admin-sidenav-logo {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: var(--text-m1);
    font-weight: bold;
}

.admin-sidenav-links {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.admin-sidenav-link {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
    padding: 15px 20px;
    border-radius: 10px;
    text-decoration: none;
    color: var(--blue1);
}
.admin-sidenav-link.active {
    background-color: var(--blue1);
    color: white;
}








.nav1{
    background-color: white;
    width: 100%;
    height: 4vw;
    border: 1px;
    font-size: 1.17vw;
    border-style: solid;
    border-color: transparent;
    border-bottom-color: #dddddd;
    box-shadow: #dddddd 0px 1px 20px 0px;
    justify-content: space-between;
    z-index: 1;
    a{
        font-family:Inter;
        font-weight: 700;
        color:#1D3675;
        text-decoration: none;
    }
    p{
        margin-top: auto;
        margin-bottom: 0;
    }
}
.nav1-logo{
    object-fit: contain;
    height: 100%;
    margin-left: .5vw;
    margin-right: .5vw;
}
.nav1-logo-div{
    height: 100%;
    aspect-ratio: 1 / 1;
    margin-left: 1vw;
    margin-right: 1vw;
}
.nav1-links {
    height: 100%;
    margin-left: 1vw;
    margin-right: 1vw;
    align-content: center;
    display: flex;
}
.nav1-link{
    height: 100%;
    margin-left: .5vw;
    margin-right: 1vw;
    align-content: center;
}
.nav2-link{
    height: 100%;
    margin-left: 1vw;
    margin-right: 1vw;
    display: flex;
}
.nav1-line{
    visibility: hidden;
    background-color: #1D3675;
    height: .2vw;
    width: 10%;
    border-radius: 1vw;
    margin: 0.1vw auto;
    transition: width 0.5s;
  -webkit-transition: width 0.5s;
}
.a-tab {
    position: relative;
    padding: 5px 20px;
}
.a-tab:hover .nav1-line {
    width: 40%;visibility: visible;
    transition: width 0.4s ease, visibility 0s linear 0s;
}
.nv-line{
    height: .5vw;
    width: auto;
    margin: 0.4vw auto;
}
.nav1-sign {

    height: 100%;
    margin-left: 1vw;
    margin-right: 1vw;
    float:right;
    align-content: center;
}
.nav1-icons{

    margin-bottom: 0.2vw;
    height: 1vw;
}
.wx{
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.notif-circle {
    position: absolute;
    top: 0;
    right: 0;
    width: 20px;
    aspect-ratio: 1/1;
    flex-shrink: 0;
    background: var(--red1);
    border-radius: 100%;
    color: white;
}
