.view-inventory-content1 {
    width: 100%;
    padding: 50px;
}

.view-inventory-cont1 {
    width: 100%;
    display: flex;
    gap: 50px;
    background: white;
    filter: drop-shadow(0 0 1px var(--grey1));
    padding: 30px;
    border-radius: 10px;
}

.view-inventory-cont1-pic {
    width: 300px;
    height: 300px;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    filter: drop-shadow(0 0 1px var(--grey1));
}
.view-inventory-cont1-info {
    width: calc(100% - 350px);
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.view-inventory-cont1-pic img {
    position: absolute;
    height: 100%;
}

.view-inventory-btns {
    display: flex;
    align-items: center;
    gap: 5px;
    position: absolute;
    top: 30px;
    right: 30px;
}





.view-inventory-cont2 {
    width: 100%;
    margin-bottom: 50px;
    padding: 0;
    overflow: hidden;    
    background: white;
    filter: drop-shadow(0 0 1px var(--grey1));
    border-radius: 10px;
}
.view-inventory-cont2-thead, .view-inventory-cont2-tbody {
    width: 100%;
}
.view-inventory-cont2-thead {
    border-bottom: 1px solid #00000056;
}
.view-inventory-cont2-thead th {
    padding: 15px;
}
.view-inventory-cont2-tbody td {
    padding: 10px;
}